*{
    box-sizing: border-box;
    font-size: 30px;
}

body,html{
    padding: 15px;
    margin: 0;
    background-color: rgb(59, 57, 57);

}


.container{
   width: 500px;
   height: 500px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: column;
   margin: 0 auto;

}
.txt{ 
    font-size: 35px;
    font-weight: 500;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.oo{
    margin-top: 15px;
    background-color: green;
    padding: 5px;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.hindi{
    background-color: red;
    color:white;
    padding: 5px;
    border-radius: 15px;
    border: none;
}

footer{
    color: white;
    font-size: 10px;
    letter-spacing: 2px;
}

